.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  background: #e0e0e0;
  border-radius: 12px;
  padding: 2px 4px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.root:hover {
  background: #cdcdcd;
}
.root:active {
  background: #bbbbbb;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DanaMedium";
  color: #ffffff;
  user-select: none;
  white-space: pre;
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 1em;
  color: #ffffff;
}
