.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
}
.freeBox {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #0079bb;
  position: relative;
  border-radius: 8px;
  padding: 4px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "DanaBlack";
  font-weight: 500;
  color: #b3e5fc;
  text-align: center;
  font-size: 25px;
}
