@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-xgO7lD65Rd2U: #2563eb;
  --plasmic-token-brand-brand: var(--token-xgO7lD65Rd2U);
  --token-Tf7QgrzOHPJ5: 0.5rem;
  --plasmic-token-size-8: var(--token-Tf7QgrzOHPJ5);
  --token-FIvZ4xBBQRNz: Inter;
  --plasmic-token-sans-serif: var(--token-FIvZ4xBBQRNz);
  --token-I15AhHMrFnsb: 1rem;
  --plasmic-token-font-md: var(--token-I15AhHMrFnsb);
  --token-Mv_bnlWoQlLR: 1.25;
  --plasmic-token-line-height-md: var(--token-Mv_bnlWoQlLR);
  --token-J6OFOMI5GftN: 0.375rem;
  --plasmic-token-size-6: var(--token-J6OFOMI5GftN);
  --token-H79h78Zen5ak: #374151;
  --plasmic-token-neutral-neutral: var(--token-H79h78Zen5ak);
  --token-w_Lmjoov5L09: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-w_Lmjoov5L09);
  --token-qMLFH3bU8ZEc: #6b7280;
  --plasmic-token-muted-muted: var(--token-qMLFH3bU8ZEc);
  --token-i6dQnkcb_tI7: 0.25rem;
  --plasmic-token-size-4: var(--token-i6dQnkcb_tI7);
  --token-WYDgfTLbQXFF: 0.75rem;
  --plasmic-token-font-sm: var(--token-WYDgfTLbQXFF);
  --token-BvHXsfdk4STI: 1;
  --plasmic-token-line-height-sm: var(--token-BvHXsfdk4STI);
  --token-K5UoQ1ECqFVb: 1.25rem;
  --plasmic-token-font-lg: var(--token-K5UoQ1ECqFVb);
  --token-0T_j5gBACVQW: 1.4;
  --plasmic-token-line-height-lg: var(--token-0T_j5gBACVQW);
  --token-i7-oix72udTO: 0.125rem;
  --plasmic-token-size-2: var(--token-i7-oix72udTO);
  --token-PSEOFVEeXhpx: #16a34a;
  --plasmic-token-success-success: var(--token-PSEOFVEeXhpx);
  --token-rb6uynbQXKOG: #facc15;
  --plasmic-token-warning-warning: var(--token-rb6uynbQXKOG);
  --token-b4egJfK9fteZ: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-b4egJfK9fteZ);
  --token-UZoy77sLOIcF: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-UZoy77sLOIcF);
  --token-tSrhJtUzLw55: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-tSrhJtUzLw55);
  --token-3aQK5b2ljR10: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-3aQK5b2ljR10);
  --token-BxcR_CR8BIne: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-BxcR_CR8BIne);
  --token-ZCmnGpEdakLT: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-ZCmnGpEdakLT);
  --token-1aL_a3BJw9L5: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-1aL_a3BJw9L5);
  --token-XP9aXUosjU2h: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-XP9aXUosjU2h);
  --token-J19SAqmZZ51v: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-J19SAqmZZ51v);
  --token-zjs5nL9QAHXe: #86efac;
  --plasmic-token-success-success-border: var(--token-zjs5nL9QAHXe);
  --token-K3Zhzid3s7In: #fde047;
  --plasmic-token-warning-warning-border: var(--token-K3Zhzid3s7In);
  --token-Q80iA2UPrBZG: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-Q80iA2UPrBZG);
  --token-L-HIHXprNifD: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-L-HIHXprNifD);
  --token-dKNJbVO9SPkz: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-dKNJbVO9SPkz);
  --token-yMpiP0WEbe57: #00000033;
  --plasmic-token-interaction-pressed: var(--token-yMpiP0WEbe57);
  --token-P6yjhqYAzHIs: 0.625rem;
  --plasmic-token-size-10: var(--token-P6yjhqYAzHIs);
  --token-OLx18Z7Gtwn8: 0.75rem;
  --plasmic-token-size-12: var(--token-OLx18Z7Gtwn8);
  --token-LE6nBrnb5fR4: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-LE6nBrnb5fR4);
  --token-r-4bvgjef0Gg: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-r-4bvgjef0Gg);
  --token-GEoqlAn0qHoy: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-GEoqlAn0qHoy);
  --token-SmUQLMIw8TBw: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-SmUQLMIw8TBw);
  --token-htYgVCtZBjVF: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-htYgVCtZBjVF);
  --token-7UPbbn29745t: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-7UPbbn29745t);
  --token-FV-T4aUha5Ya: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-FV-T4aUha5Ya);
  --token-vPwGyRb3DTUB: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-vPwGyRb3DTUB);
  --token-OcL1D2kk-DgJ: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-OcL1D2kk-DgJ);
  --token-jSIWE0G3y9l_: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-jSIWE0G3y9l_);
  --token-2C_mKL4t6b8d: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-2C_mKL4t6b8d);
  --token-Lqmjt9trmBKi: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-Lqmjt9trmBKi
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-eDEy6hplVNSu_font-family: "Inter", sans-serif;
  --mixin-eDEy6hplVNSu_font-size: 16px;
  --mixin-eDEy6hplVNSu_font-weight: 400;
  --mixin-eDEy6hplVNSu_font-style: normal;
  --mixin-eDEy6hplVNSu_color: #535353;
  --mixin-eDEy6hplVNSu_text-align: left;
  --mixin-eDEy6hplVNSu_text-transform: none;
  --mixin-eDEy6hplVNSu_line-height: 1.5;
  --mixin-eDEy6hplVNSu_letter-spacing: normal;
  --mixin-eDEy6hplVNSu_white-space: pre-wrap;
  --mixin-eDEy6hplVNSu_user-select: text;
  --mixin-eDEy6hplVNSu_text-decoration-line: none;
  --mixin-eDEy6hplVNSu_text-overflow: clip;
  --mixin-cHsDm_BZWMkX_color: #000000;
  --mixin-cHsDm_BZWMkX_font-weight: 700;
  --mixin-cHsDm_BZWMkX_font-size: 64px;
  --mixin-cHsDm_BZWMkX_line-height: 1;
  --mixin-cHsDm_BZWMkX_letter-spacing: -1px;
  --mixin-cHsDm_BZWMkX_white-space: pre-wrap;
  --mixin-cBrNQNQUlfzb_color: #000000;
  --mixin-cBrNQNQUlfzb_font-size: 48px;
  --mixin-cBrNQNQUlfzb_font-weight: 700;
  --mixin-cBrNQNQUlfzb_letter-spacing: -0.5px;
  --mixin-cBrNQNQUlfzb_line-height: 1.1;
  --mixin-cBrNQNQUlfzb_white-space: pre-wrap;
  --mixin-ICPCeqt2glcH_color: #0070f3;
  --mixin-ICPCeqt2glcH_white-space: pre-wrap;
  --mixin-YkPBUMdck3Vq_color: #000000;
  --mixin-YkPBUMdck3Vq_font-size: 32px;
  --mixin-YkPBUMdck3Vq_font-weight: 600;
  --mixin-YkPBUMdck3Vq_line-height: 1.2;
  --mixin-YkPBUMdck3Vq_white-space: pre-wrap;
  --mixin-Cu-g2uxxol2b_color: #000000;
  --mixin-Cu-g2uxxol2b_font-size: 24px;
  --mixin-Cu-g2uxxol2b_font-weight: 600;
  --mixin-Cu-g2uxxol2b_line-height: 1.3;
  --mixin-Cu-g2uxxol2b_white-space: pre-wrap;
  --mixin-AcpZSz-a1X_H_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-AcpZSz-a1X_H_border-bottom-color: #dddddd;
  --mixin-AcpZSz-a1X_H_border-bottom-style: solid;
  --mixin-AcpZSz-a1X_H_border-bottom-width: 1px;
  --mixin-AcpZSz-a1X_H_border-left-color: #dddddd;
  --mixin-AcpZSz-a1X_H_border-left-style: solid;
  --mixin-AcpZSz-a1X_H_border-left-width: 1px;
  --mixin-AcpZSz-a1X_H_border-right-color: #dddddd;
  --mixin-AcpZSz-a1X_H_border-right-style: solid;
  --mixin-AcpZSz-a1X_H_border-right-width: 1px;
  --mixin-AcpZSz-a1X_H_border-top-color: #dddddd;
  --mixin-AcpZSz-a1X_H_border-top-style: solid;
  --mixin-AcpZSz-a1X_H_border-top-width: 1px;
  --mixin-AcpZSz-a1X_H_border-bottom-left-radius: 3px;
  --mixin-AcpZSz-a1X_H_border-bottom-right-radius: 3px;
  --mixin-AcpZSz-a1X_H_border-top-left-radius: 3px;
  --mixin-AcpZSz-a1X_H_border-top-right-radius: 3px;
  --mixin-AcpZSz-a1X_H_font-family: "Inconsolata";
  --mixin-AcpZSz-a1X_H_padding-bottom: 1px;
  --mixin-AcpZSz-a1X_H_padding-left: 4px;
  --mixin-AcpZSz-a1X_H_padding-right: 4px;
  --mixin-AcpZSz-a1X_H_padding-top: 1px;
  --mixin-AcpZSz-a1X_H_white-space: pre-wrap;
  --mixin-GS-faY1b95GW_border-left-color: #dddddd;
  --mixin-GS-faY1b95GW_border-left-style: solid;
  --mixin-GS-faY1b95GW_border-left-width: 3px;
  --mixin-GS-faY1b95GW_color: #888888;
  --mixin-GS-faY1b95GW_padding-left: 10px;
  --mixin-GS-faY1b95GW_white-space: pre-wrap;
  --mixin-5jmJd0_UzgRP_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-5jmJd0_UzgRP_border-bottom-color: #dddddd;
  --mixin-5jmJd0_UzgRP_border-bottom-style: solid;
  --mixin-5jmJd0_UzgRP_border-bottom-width: 1px;
  --mixin-5jmJd0_UzgRP_border-left-color: #dddddd;
  --mixin-5jmJd0_UzgRP_border-left-style: solid;
  --mixin-5jmJd0_UzgRP_border-left-width: 1px;
  --mixin-5jmJd0_UzgRP_border-right-color: #dddddd;
  --mixin-5jmJd0_UzgRP_border-right-style: solid;
  --mixin-5jmJd0_UzgRP_border-right-width: 1px;
  --mixin-5jmJd0_UzgRP_border-top-color: #dddddd;
  --mixin-5jmJd0_UzgRP_border-top-style: solid;
  --mixin-5jmJd0_UzgRP_border-top-width: 1px;
  --mixin-5jmJd0_UzgRP_border-bottom-left-radius: 3px;
  --mixin-5jmJd0_UzgRP_border-bottom-right-radius: 3px;
  --mixin-5jmJd0_UzgRP_border-top-left-radius: 3px;
  --mixin-5jmJd0_UzgRP_border-top-right-radius: 3px;
  --mixin-5jmJd0_UzgRP_font-family: "Inconsolata";
  --mixin-5jmJd0_UzgRP_padding-bottom: 3px;
  --mixin-5jmJd0_UzgRP_padding-left: 6px;
  --mixin-5jmJd0_UzgRP_padding-right: 6px;
  --mixin-5jmJd0_UzgRP_padding-top: 3px;
  --mixin-5jmJd0_UzgRP_white-space: pre-wrap;
  --mixin-qTCUUthx0KDI_display: flex;
  --mixin-qTCUUthx0KDI_flex-direction: column;
  --mixin-qTCUUthx0KDI_align-items: stretch;
  --mixin-qTCUUthx0KDI_justify-content: flex-start;
  --mixin-qTCUUthx0KDI_list-style-position: outside;
  --mixin-qTCUUthx0KDI_padding-left: 40px;
  --mixin-qTCUUthx0KDI_position: relative;
  --mixin-qTCUUthx0KDI_list-style-type: disc;
  --mixin-qTCUUthx0KDI_white-space: pre-wrap;
  --mixin-1j4c9ALpQVBp_display: flex;
  --mixin-1j4c9ALpQVBp_flex-direction: column;
  --mixin-1j4c9ALpQVBp_align-items: stretch;
  --mixin-1j4c9ALpQVBp_justify-content: flex-start;
  --mixin-1j4c9ALpQVBp_list-style-position: outside;
  --mixin-1j4c9ALpQVBp_padding-left: 40px;
  --mixin-1j4c9ALpQVBp_position: relative;
  --mixin-1j4c9ALpQVBp_list-style-type: decimal;
  --mixin-1j4c9ALpQVBp_white-space: pre-wrap;
  --mixin-HZkztOl9Vscj_color: #000000;
  --mixin-HZkztOl9Vscj_font-size: 20px;
  --mixin-HZkztOl9Vscj_font-weight: 600;
  --mixin-HZkztOl9Vscj_line-height: 1.5;
  --mixin-HZkztOl9Vscj_white-space: pre-wrap;
  --mixin-KYVu4W_A3MVN_color: #000000;
  --mixin-KYVu4W_A3MVN_font-size: 16px;
  --mixin-KYVu4W_A3MVN_font-weight: 600;
  --mixin-KYVu4W_A3MVN_line-height: 1.5;
  --mixin-KYVu4W_A3MVN_white-space: pre-wrap;
  --mixin-nafypCozs1Np_color: #3291ff;
  --mixin-nafypCozs1Np_white-space: pre-wrap;
  --mixin-8OnrDiVHt3Hz_white-space: pre-wrap;
  --mixin-9HDjQ8rcWUhC_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-eDEy6hplVNSu_font-family);
  font-size: var(--mixin-eDEy6hplVNSu_font-size);
  font-weight: var(--mixin-eDEy6hplVNSu_font-weight);
  font-style: var(--mixin-eDEy6hplVNSu_font-style);
  color: var(--mixin-eDEy6hplVNSu_color);
  text-align: var(--mixin-eDEy6hplVNSu_text-align);
  text-transform: var(--mixin-eDEy6hplVNSu_text-transform);
  line-height: var(--mixin-eDEy6hplVNSu_line-height);
  letter-spacing: var(--mixin-eDEy6hplVNSu_letter-spacing);
  white-space: var(--mixin-eDEy6hplVNSu_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-cHsDm_BZWMkX_color);
  font-weight: var(--mixin-cHsDm_BZWMkX_font-weight);
  font-size: var(--mixin-cHsDm_BZWMkX_font-size);
  line-height: var(--mixin-cHsDm_BZWMkX_line-height);
  letter-spacing: var(--mixin-cHsDm_BZWMkX_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-cBrNQNQUlfzb_color);
  font-size: var(--mixin-cBrNQNQUlfzb_font-size);
  font-weight: var(--mixin-cBrNQNQUlfzb_font-weight);
  letter-spacing: var(--mixin-cBrNQNQUlfzb_letter-spacing);
  line-height: var(--mixin-cBrNQNQUlfzb_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-ICPCeqt2glcH_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-YkPBUMdck3Vq_color);
  font-size: var(--mixin-YkPBUMdck3Vq_font-size);
  font-weight: var(--mixin-YkPBUMdck3Vq_font-weight);
  line-height: var(--mixin-YkPBUMdck3Vq_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-Cu-g2uxxol2b_color);
  font-size: var(--mixin-Cu-g2uxxol2b_font-size);
  font-weight: var(--mixin-Cu-g2uxxol2b_font-weight);
  line-height: var(--mixin-Cu-g2uxxol2b_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-AcpZSz-a1X_H_font-family);
  border-radius: var(--mixin-AcpZSz-a1X_H_border-top-left-radius)
    var(--mixin-AcpZSz-a1X_H_border-top-right-radius)
    var(--mixin-AcpZSz-a1X_H_border-bottom-right-radius)
    var(--mixin-AcpZSz-a1X_H_border-bottom-left-radius);
  padding: var(--mixin-AcpZSz-a1X_H_padding-top)
    var(--mixin-AcpZSz-a1X_H_padding-right)
    var(--mixin-AcpZSz-a1X_H_padding-bottom)
    var(--mixin-AcpZSz-a1X_H_padding-left);
  border-top: var(--mixin-AcpZSz-a1X_H_border-top-width)
    var(--mixin-AcpZSz-a1X_H_border-top-style)
    var(--mixin-AcpZSz-a1X_H_border-top-color);
  border-right: var(--mixin-AcpZSz-a1X_H_border-right-width)
    var(--mixin-AcpZSz-a1X_H_border-right-style)
    var(--mixin-AcpZSz-a1X_H_border-right-color);
  border-bottom: var(--mixin-AcpZSz-a1X_H_border-bottom-width)
    var(--mixin-AcpZSz-a1X_H_border-bottom-style)
    var(--mixin-AcpZSz-a1X_H_border-bottom-color);
  border-left: var(--mixin-AcpZSz-a1X_H_border-left-width)
    var(--mixin-AcpZSz-a1X_H_border-left-style)
    var(--mixin-AcpZSz-a1X_H_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-GS-faY1b95GW_color);
  padding-left: var(--mixin-GS-faY1b95GW_padding-left);
  border-left: var(--mixin-GS-faY1b95GW_border-left-width)
    var(--mixin-GS-faY1b95GW_border-left-style)
    var(--mixin-GS-faY1b95GW_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-5jmJd0_UzgRP_font-family);
  border-radius: var(--mixin-5jmJd0_UzgRP_border-top-left-radius)
    var(--mixin-5jmJd0_UzgRP_border-top-right-radius)
    var(--mixin-5jmJd0_UzgRP_border-bottom-right-radius)
    var(--mixin-5jmJd0_UzgRP_border-bottom-left-radius);
  padding: var(--mixin-5jmJd0_UzgRP_padding-top)
    var(--mixin-5jmJd0_UzgRP_padding-right)
    var(--mixin-5jmJd0_UzgRP_padding-bottom)
    var(--mixin-5jmJd0_UzgRP_padding-left);
  border-top: var(--mixin-5jmJd0_UzgRP_border-top-width)
    var(--mixin-5jmJd0_UzgRP_border-top-style)
    var(--mixin-5jmJd0_UzgRP_border-top-color);
  border-right: var(--mixin-5jmJd0_UzgRP_border-right-width)
    var(--mixin-5jmJd0_UzgRP_border-right-style)
    var(--mixin-5jmJd0_UzgRP_border-right-color);
  border-bottom: var(--mixin-5jmJd0_UzgRP_border-bottom-width)
    var(--mixin-5jmJd0_UzgRP_border-bottom-style)
    var(--mixin-5jmJd0_UzgRP_border-bottom-color);
  border-left: var(--mixin-5jmJd0_UzgRP_border-left-width)
    var(--mixin-5jmJd0_UzgRP_border-left-style)
    var(--mixin-5jmJd0_UzgRP_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-qTCUUthx0KDI_display);
  flex-direction: var(--mixin-qTCUUthx0KDI_flex-direction);
  align-items: var(--mixin-qTCUUthx0KDI_align-items);
  justify-content: var(--mixin-qTCUUthx0KDI_justify-content);
  list-style-position: var(--mixin-qTCUUthx0KDI_list-style-position);
  padding-left: var(--mixin-qTCUUthx0KDI_padding-left);
  position: var(--mixin-qTCUUthx0KDI_position);
  list-style-type: var(--mixin-qTCUUthx0KDI_list-style-type);
  flex-column-gap: var(--mixin-qTCUUthx0KDI_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-1j4c9ALpQVBp_display);
  flex-direction: var(--mixin-1j4c9ALpQVBp_flex-direction);
  align-items: var(--mixin-1j4c9ALpQVBp_align-items);
  justify-content: var(--mixin-1j4c9ALpQVBp_justify-content);
  list-style-position: var(--mixin-1j4c9ALpQVBp_list-style-position);
  padding-left: var(--mixin-1j4c9ALpQVBp_padding-left);
  position: var(--mixin-1j4c9ALpQVBp_position);
  list-style-type: var(--mixin-1j4c9ALpQVBp_list-style-type);
  flex-column-gap: var(--mixin-1j4c9ALpQVBp_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-HZkztOl9Vscj_color);
  font-size: var(--mixin-HZkztOl9Vscj_font-size);
  font-weight: var(--mixin-HZkztOl9Vscj_font-weight);
  line-height: var(--mixin-HZkztOl9Vscj_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-KYVu4W_A3MVN_color);
  font-size: var(--mixin-KYVu4W_A3MVN_font-size);
  font-weight: var(--mixin-KYVu4W_A3MVN_font-weight);
  line-height: var(--mixin-KYVu4W_A3MVN_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-nafypCozs1Np_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
