.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-self: flex-start;
  background: none;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
.apiRequest3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.existingResponse {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  background: #e2f5ffb3;
  border-radius: 15px;
  padding: 8px 8px 25px;
}
.existingResponse > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.existingResponse > :global(.__wab_flex-container) > *,
.existingResponse > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.existingResponse > :global(.__wab_flex-container) > picture > img,
.existingResponse
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.freeBox___8F1Xj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0px;
}
.svg__fbrrG {
  object-fit: cover;
  max-width: 100%;
  width: 10px;
  height: 1em;
  color: #0288d1;
  margin-bottom: 4px;
  cursor: pointer;
  flex-shrink: 0;
}
.freeBox__hV2Ec {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
.freeBox__hV2Ec > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__hV2Ec > :global(.__wab_flex-container) > *,
.freeBox__hV2Ec > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hV2Ec > :global(.__wab_flex-container) > picture > img,
.freeBox__hV2Ec
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
.freeBox___7QHss {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox___7QHss > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox___7QHss > :global(.__wab_flex-container) > *,
.freeBox___7QHss > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7QHss > :global(.__wab_flex-container) > picture > img,
.freeBox___7QHss
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__jxnH {
  object-fit: cover;
  max-width: 100%;
  width: 10px;
  height: 1em;
  color: #0288d1;
  flex-shrink: 0;
}
.text__goDwN {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "VazirMatnBold";
  color: #0288d1;
}
.text___1Ed9M {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "VazirMatnMedium";
  color: #0288d1b3;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___0BGao {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text___94L9E {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "VazirMatnMedium";
  font-weight: 400;
  color: #0288d1;
  text-align: center;
  font-size: 20px;
  user-select: none;
}
.svg__wyN6C {
  object-fit: cover;
  max-width: 100%;
  color: #0288d1;
  width: 100%;
  height: 40px;
  min-width: 0;
  flex-shrink: 0;
}
.text__olr0G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__y34Bm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__y34Bm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__y34Bm > :global(.__wab_flex-container) > *,
.freeBox__y34Bm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y34Bm > :global(.__wab_flex-container) > picture > img,
.freeBox__y34Bm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__hs3Y {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "VazirMatnMedium";
  font-weight: 500;
  color: #e0e0e0;
  text-align: center;
  font-size: 15px;
  user-select: none;
  padding-top: 0px;
}
.freeBox__oeLd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oeLd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__oeLd > :global(.__wab_flex-container) > *,
.freeBox__oeLd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oeLd > :global(.__wab_flex-container) > picture > img,
.freeBox__oeLd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.questionContainer:global(.__wab_instance) {
  width: 300px;
  height: 100%;
  min-height: 0;
}
.previousQuestionButton:global(.__wab_instance) {
  max-width: 100%;
}
.scoreCard:global(.__wab_instance) {
  max-width: 100%;
}
