.root {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  background: none;
}
.apiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hp3Rl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
  width: 200px;
  height: 100%;
  background: #0079bb;
  min-height: 0;
  border-radius: 15px;
  padding: 8px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text___8VAcf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "VazirMatnBold";
  font-weight: 500;
  color: #b3e5fc;
  text-align: center;
  font-size: 20px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 100%;
  color: #b3e5fc;
  min-height: 0;
}
