.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-xgO7lD65Rd2U);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-Tf7QgrzOHPJ5);
  font-family: var(--token-FIvZ4xBBQRNz);
  font-size: var(--token-I15AhHMrFnsb);
  line-height: var(--token-Mv_bnlWoQlLR);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-J6OFOMI5GftN);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-i7-oix72udTO);
  outline-offset: 1px;
  outline-color: var(--token-xgO7lD65Rd2U);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-H79h78Zen5ak);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-qMLFH3bU8ZEc);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-PSEOFVEeXhpx);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-rb6uynbQXKOG);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-w_Lmjoov5L09);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-BvHXsfdk4STI);
  font-size: var(--token-WYDgfTLbQXFF);
  column-gap: var(--token-i7-oix72udTO);
  row-gap: 0px;
  border-radius: var(--token-i6dQnkcb_tI7);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-WYDgfTLbQXFF);
  line-height: var(--token-BvHXsfdk4STI);
  column-gap: var(--token-i6dQnkcb_tI7);
  row-gap: 0px;
  border-radius: var(--token-i6dQnkcb_tI7);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-K5UoQ1ECqFVb);
  line-height: var(--token-0T_j5gBACVQW);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-K5UoQ1ECqFVb);
  line-height: var(--token-0T_j5gBACVQW);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-b4egJfK9fteZ);
  border-radius: var(--token-J6OFOMI5GftN);
}
.softBackgroundcolor_neutral {
  background: var(--token-UZoy77sLOIcF);
}
.softBackgroundcolor_muted {
  background: var(--token-tSrhJtUzLw55);
}
.softBackgroundcolor_success {
  background: var(--token-3aQK5b2ljR10);
}
.softBackgroundcolor_warning {
  background: var(--token-BxcR_CR8BIne);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-ZCmnGpEdakLT);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-J6OFOMI5GftN);
  border: 0px solid var(--token-1aL_a3BJw9L5);
}
.bordercolor_neutral {
  border-color: var(--token-XP9aXUosjU2h);
}
.bordercolor_muted {
  border-color: var(--token-J19SAqmZZ51v);
}
.bordercolor_success {
  border-color: var(--token-zjs5nL9QAHXe);
}
.bordercolor_warning {
  border-color: var(--token-K3Zhzid3s7In);
}
.bordercolor_errorDestructive {
  border-color: var(--token-Q80iA2UPrBZG);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-J6OFOMI5GftN);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-L-HIHXprNifD);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-dKNJbVO9SPkz);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-yMpiP0WEbe57);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__dJpDg {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-J6OFOMI5GftN) var(--token-P6yjhqYAzHIs);
}
.freeBox__dJpDg > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-J6OFOMI5GftN));
  width: calc(100% + var(--token-J6OFOMI5GftN));
}
.freeBox__dJpDg > :global(.__wab_flex-container) > *,
.freeBox__dJpDg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dJpDg > :global(.__wab_flex-container) > picture > img,
.freeBox__dJpDg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-J6OFOMI5GftN);
}
.freeBoxsize_extraSmall__dJpDgsbdew {
  padding: var(--token-i6dQnkcb_tI7) var(--token-J6OFOMI5GftN);
}
.freeBoxsize_small__dJpDgQCqxu {
  padding: var(--token-J6OFOMI5GftN) var(--token-Tf7QgrzOHPJ5);
}
.freeBoxsize_large__dJpDggyzan {
  padding-top: var(--token-i6dQnkcb_tI7);
  padding-bottom: var(--token-i6dQnkcb_tI7);
}
.freeBoxsize_extraLarge__dJpDg7Mc4O {
  padding-left: var(--token-OLx18Z7Gtwn8);
  padding-right: var(--token-OLx18Z7Gtwn8);
}
.freeBoxroundedFull__dJpDgwi2NZ {
  padding-right: var(--token-OLx18Z7Gtwn8);
  padding-left: var(--token-OLx18Z7Gtwn8);
}
.freeBox___1X58 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___1X58K7Omb {
  display: flex;
}
.slotTargetStart {
  color: var(--token-LE6nBrnb5fR4);
}
.slotTargetStartcolor_neutral {
  color: var(--token-r-4bvgjef0Gg);
}
.slotTargetStartcolor_muted {
  color: var(--token-GEoqlAn0qHoy);
}
.slotTargetStartcolor_success {
  color: var(--token-7UPbbn29745t);
}
.slotTargetStartcolor_warning {
  color: var(--token-htYgVCtZBjVF);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-FV-T4aUha5Ya);
}
.slotTargetStarttype_soft {
  color: var(--token-SmUQLMIw8TBw);
}
.slotTargetStarttype_bordered {
  color: var(--token-SmUQLMIw8TBw);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-WYDgfTLbQXFF);
}
.slotTargetStartsize_small {
  font-size: var(--token-WYDgfTLbQXFF);
}
.slotTargetStartsize_large {
  font-size: var(--token-K5UoQ1ECqFVb);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-K5UoQ1ECqFVb);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-vPwGyRb3DTUB);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-vPwGyRb3DTUB);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-OcL1D2kk-DgJ);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-OcL1D2kk-DgJ);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-jSIWE0G3y9l_);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-jSIWE0G3y9l_);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-2C_mKL4t6b8d);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-2C_mKL4t6b8d);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-Lqmjt9trmBKi);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-Lqmjt9trmBKi);
}
.svg__fdjGj {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-LE6nBrnb5fR4);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-r-4bvgjef0Gg);
}
.slotTargetLabelcolor_muted {
  color: var(--token-GEoqlAn0qHoy);
}
.slotTargetLabelcolor_success {
  color: var(--token-7UPbbn29745t);
}
.slotTargetLabelcolor_warning {
  color: var(--token-htYgVCtZBjVF);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-FV-T4aUha5Ya);
}
.slotTargetLabeltype_soft {
  color: var(--token-SmUQLMIw8TBw);
}
.slotTargetLabeltype_bordered {
  color: var(--token-SmUQLMIw8TBw);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-vPwGyRb3DTUB);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-OcL1D2kk-DgJ);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-vPwGyRb3DTUB);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-jSIWE0G3y9l_);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-OcL1D2kk-DgJ);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-2C_mKL4t6b8d);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-jSIWE0G3y9l_);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-Lqmjt9trmBKi);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-2C_mKL4t6b8d);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-Lqmjt9trmBKi);
}
.text__xnSgD {
  white-space: pre;
}
.freeBox__h49Fz {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__h49Fzb4Ow7 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-LE6nBrnb5fR4);
}
.slotTargetEndcolor_neutral {
  color: var(--token-r-4bvgjef0Gg);
}
.slotTargetEndcolor_muted {
  color: var(--token-GEoqlAn0qHoy);
}
.slotTargetEndcolor_success {
  color: var(--token-7UPbbn29745t);
}
.slotTargetEndcolor_warning {
  color: var(--token-htYgVCtZBjVF);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-FV-T4aUha5Ya);
}
.slotTargetEndtype_soft {
  color: var(--token-SmUQLMIw8TBw);
}
.slotTargetEndtype_bordered {
  color: var(--token-SmUQLMIw8TBw);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-WYDgfTLbQXFF);
}
.slotTargetEndsize_small {
  font-size: var(--token-WYDgfTLbQXFF);
}
.slotTargetEndsize_large {
  font-size: var(--token-K5UoQ1ECqFVb);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-K5UoQ1ECqFVb);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-vPwGyRb3DTUB);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-vPwGyRb3DTUB);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-OcL1D2kk-DgJ);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-OcL1D2kk-DgJ);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-jSIWE0G3y9l_);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-jSIWE0G3y9l_);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-2C_mKL4t6b8d);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-2C_mKL4t6b8d);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-Lqmjt9trmBKi);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-Lqmjt9trmBKi);
}
.svg__qb7VE {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
